@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: inherit;
  font-weight: normal;
  width: 100vw;
}
body {
  display: flex;
  place-items: start;
  box-sizing: border-box;
}
a,
.greetings {
  display: flex;
  place-items: center;
}
.greetings code {
  text-align: center;
}
.greetings img {
  width: 300px;
  margin: 2em;
  filter: invert(100%);
}
.track-controls {
  display: flex;
}
.player-container {
  box-sizing: border-box;
  padding: 8px;
}
.border-container {
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
